/* Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */
/* line 6, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/orders.scss */
#space {
  padding-left: 2em;
}

/* line 9, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/orders.scss */
#paginateOrg {
  border: 1px solid black;
  padding: 10px;
  width: 5em;
  height: 5em;
}

/* line 16, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/orders.scss */
#paginatePad {
  padding: 4em;
}
