/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
/* line 6, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
body {
  background-color: white;
}

/* line 10, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
#font {
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}

/* line 16, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products {
  color: black;
}
/* line 19, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products #home {
  font-size: 24px;
  color: purple;
}
/* line 24, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 28, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 33, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 100px;
  height: 100px;
}
/* line 38, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 90%;
}
/* line 41, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}
/* line 45, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: black;
  font-weight: bold;
  font-size: larger;
}
/* line 51, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}
/* line 56, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
  padding-right: 5em;
}
/* line 63, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #E3FFE3;
}
/* line 67, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #D9FFD9;
}

/* line 72, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
#imagepad {
  margin: auto;
  padding: 5em;
  padding-left: 32em;
}
