 <body>
    <h1><%= @user.name %>, since you updated your information we sent you this email.</h1>
    <p>
      Just to remind you your username is: <%= @user.username %>
    </p>
    <p>Thanks for being with us and have a great day!</p>
</body>