/* line 5, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products {
  background: #EDFFED;
  color: black;
}
/* line 8, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 12, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 17, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 100px;
  height: 100px;
}
/* line 22, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 90%;
}
/* line 25, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}
/* line 29, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: black;
  font-weight: bold;
  font-size: larger;
}
/* line 35, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}
/* line 40, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
  padding-right: 5em;
}
/* line 47, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #E3FFE3;
}
/* line 51, /Users/macbookpro/Desktop/depot/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #D9FFD9;
}
