<%= stylesheet_link_tag "store_owners", :media => "all" %>

<div class="text-center">
<div class="mainTitleNew">Store Owner Account</div>
<hr> 


<%= render 'form', store_owner: @store_owner %>
</div>
