/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body{
	background-color: rgba(255, 255, 255, 1);
}

/* Still modifiable */

#font{
  font-family: Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}
.products{
	color: black;

	#home{
		font-size: 24px;
		color: purple;
	}

	table{
		border-collapse: collapse;
	}

	table tr td{
		padding: 5px;
		vertical-align: top;
	}

	.list_image{
		width: 100px;
		height: 100px;
	}

	.list_description{
		width: 90%;

		dl{
			margin: 0;
		}

		dt{
			color: black;
			font-weight: bold;
			font-size: larger;
		}

		dd{
			margin: 0;
		}
	}

	.list_actions{
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
		padding-right: 5em;
	}

	.list_line_even{
		background: #E3FFE3;
	}

	.list_line_odd{
		background: #D9FFD9;
	}
}

.imageShowProduct{
	display: block;
	margin: auto;
	position: relative;
	width: auto;
	height: 350px;
	top: 15px;
	z-index: -1;
}

/* Showpage Start */

#introInfo{
	text-align: left;
	padding-top: 3em;
	padding-left: 5em;
	padding-right: 5em;
	padding-bottom: 5em;

}

#titlePos{
	position: relative;
	top: 2em;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
}

#introInfo #fontTitleD{
	font-size: 30px;
	font-weight: 100;
	top: 4em;
}

#introInfo #fontSub{
	padding-left: 2em;
	font-size: 20px;
	padding-top: 1em;
}

#introInfo #withinP{
	display: inline-block;
	position: relative;

}
 #withinPprice{
 	display: inline-block;
	position: relative;
	font-weight: lighter;
	top: 40px;
	margin-left: 18%;

}

#withinP .priceShow{
	font-size: 30px;
	position: relative;
	top: 8px;
	right: 20px;
}

/* Fixed Back */
.fixedback{
	min-height: 370px;
	position: relative;
	
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;
}




