/*// Place all the styles related to the product_attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.mainTitle{
	font-size: 36px;
	font-weight: 200;
	margin-top: 10px;
    margin-bottom: 10px;
}

.productAttDisp{
	padding: 1em;
	width: 400px;
}


@media screen and (max-width: 767px){
	.productAttDisp{
		padding: 1em;
		width: 300px;
	}
}