/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


a {
  text-decoration: none !important;
}

a:hover{
    color: green;
}


.addedPadding{
    padding-left: 20px;
    padding-right: 20px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.specialA{
  color: black !important;
}


.mainTitle{
    font-size: 36px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainTitleNew{
    font-size: 36px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 10px;
}

.secondaryTitle{
    font-size: 25px;
    font-weight: 200;
    margin-top: 5em;
}


.noProduct{
    font-size: 36px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Still modifiable */

.productMainInfo{
    margin-top: 25px;
}

.list_image{
	width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.productBorder{
    border: 1px solid;
    border-color: #a2a2a2;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imageShowProduct{
	display: block;
	margin: auto;
	position: relative;
	width: auto;
	height: 300px;
	top: 5px;
	z-index: -1;
}

/* Showpage Start */

#titlePos{
	position: relative;
	top: .3em;
	font-size: 30px;
	font-weight: 100;
	padding-bottom: 1em;
}

#fontTitleD{
	font-size: 40px;
	font-weight: 100;
	top: 4em;
}


.introInfo{
	top: 7em;
	display: block;
}

.priceShow{
	font-size: 40px;
	position: relative;
	font-weight: lighter;
	top: -15px;
}

.availabilityShow{
    font-size: 30px;
    position: relative;
    font-weight: lighter;
    top: -15px;
}

/* Fixed Back */
.fixedback{
	min-height: 370px;
	position: relative;
	
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1em;
}

/* Buttons */
.button {
    border: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonBuy {
    font-size: 16px;
    margin: 4px 2px;
    background-color: white; 
    color: black; 
    border: 2px solid #000;
    padding: 20px 70px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 3px;
}

.buttonBuy:hover {
    background-color: #000;
    color: white;
}

.buttonAdd {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 3px;
}

.buttonAdd:hover {
    background-color: #4CAF50;
    color: white;
}

.buttonRemove {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 3px;
}

.buttonRemove:hover {
    background-color: #f44336;
    color: white;
}

.price_line{
	margin-left: 100px;
	margin-top: 0.5em;
	margin-bottom: 0.8em;

	form, div{
		display: inline;
	}
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.button-box {
  text-align:center;
  margin-top:20px;
 }

#sidev{
    top: 16px;
    left: 0px;
    padding-top: 3em;
    background: #000000;
    z-index: 1;
    width: 100%;
    position: fixed;
}

.cart, #sidev #cart{
    color: white;
	.item_price .total_line{
		text-align: right;
	}
	.total_line .total_cell{
		font-weight: bold;
		border-top: 1px solid #595;
	}
}

#fontTitle1{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

#fontTitle2{
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 5px;
}

#fontTitle3{
    font-size: 20px;
    font-weight: 300;
}

#fontDesc{
	font-size: 15px;
	font-weight: 400;
}

#fontCat{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
}

#fontPrice{
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 5px;
}

.titlePageForm{
	font-size: 30px;
	font-weight: 200;
	color: black;
}

.titlePageInf{
    font-size: 20px;
    font-weight: 200;
    color: black;
}

.statusProductInf{
    font-size: 25px;
    font-weight: 200;
    color: black;
}

textarea {
   resize: none;
}

.selectProduct{
	width: 200px;
	height: 50px;
}

/*Button Form*/
.buttonForm {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonGForm {
	top: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 10px 60px;
}

.buttonGForm:hover {
    background-color: #4CAF50;
    color: white;
}

.buttonIn {
    background-color: #6F6FFF; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonGIn {
    top: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #6F6FFF;
    padding: 10px 40px;
}

.buttonGIn:hover {
    background-color: #6F6FFF;
    color: white;
}
.buttonDel {
    top: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #FF0000;
    padding: 10px 64px;
}
.buttonDel:hover {
    background-color: #FF0000;
    color: white;
}

.formFieldLine{
    width: 350px;
}

.formFieldText{
    width: 460px;
    height: 150px;
}

.productLinks{
    text-decoration: none !important;
}

.productLinks:hover{
    color: #307710;
}
dt{
    font-size: 17px;
    font-weight: 300;
}

 .productPictures{
    width: 24%;
    padding: 0.3em;
}

.btnTog{
    font-weight: 300;
    background-color: black; 
    color: white; 
    width: 100%;
    height: 40px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 1px solid white;
    border-radius: 0px;
    outline: none;
}

/* Dropdown */
.commentSettings {
  float: right;
}

.commentArea .dropdown{
   float: right;
}

.listImageProduct{
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    margin-left: -55px;
    position: absolute;
    margin-top: 35px;
    background-color: #f9f9f9;
    min-width: 132px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content form {
    margin-bottom: 0em;
}


.dropdown:hover .dropdown-content {
    display: block;
}


/* Comment Sec */
.commentBox{
  text-align: left;
  border-top: 1px black solid;
  padding: 10px;
}

.commentAdmin{
  color: #307710;
}

.userName{
    font-size: 20px;
    font-weight: 300;
}

.commContent{
    font-size: 20px;
}

.commentBox:last-child{
  border-bottom: 1px black solid;
}


.submitBtn{
  position: relative;
  bottom: 41px;
  right: 4px;
  height: 90px;
}

.comment{
    float: left;
    margin-left: 10px;
    font-weight: 300;
    font-size: 18px;
}

.editBtn{
  padding-right: 29px;
}


.btn {
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 200;
  border-radius: 0px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.btn-primary {
    color: #333333 !important;
    background-color: #ffffff !important;
    border-color: #333333 !important;
}
.btn-primary:hover{
    color: #fff !important;
    background-color: #222222 !important;
    outline: none !important;
}

textarea {
   resize: none;
}

.productComment{
    margin: 1em; 
}

    .wholeRow{
        margin-left: 14%;
    }


.productCommentsBtn{
    font-weight: 300;
    font-size: 20px;
    border-radius: 0px;
    padding: 10px;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

.comments{
    margin-top: 11em;
    margin-bottom: 5em;
}






/* At Media */

@media screen and (min-width: 1890px){
    .wholeRow{
        margin-left: 52%;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px){
    .wholeRow{
        margin-left: 31%;
        margin-right: 24%
    }

}

@media screen and (min-width: 2200px){
    .wholeRow{
        margin-left: 51%;
    }

}

@media screen and (max-width: 767px) and (min-width: 450px){

}

@media screen and (max-width: 767px) and (min-width: 450px){
    .wideMobiles{
        width: 33.3333333333%;
    }
}


@media screen and (max-width: 767px) {
    .productMainInfo{
        margin-top: 0px;
    }
    .comments{
        margin-top: 10em;
        margin-bottom: 3em;
    }
    .col-xs-6{
        padding-left: 5px;
        padding-right: 5px;
    }
    .productBorder {
        box-shadow: 0px 0px 0px 0px; 
    }
	 h1{
        font-size: 30px;
    }
     dt{
        font-size: 15px;
        font-weight: 300;
    }
    #fontTitle1{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
    }
    #fontPrice{
        font-size: 15px;
        font-weight: 300;
    }
    #fontTitle2{
        font-size: 13px;
        font-weight: 500;
    }

    #fontCat{
      	display: none;
    }
    .list_image{
        width: 100%;
    }
    .buttonIn{
    	font-size: 25px;
    }
    #pAttributes{
        padding-bottom: 2em;
        font-weight: 400;
    }
    .imageShowProduct{
        height: 250px;
        width: 18em;
    }
    .buttonG {
        padding: 15px 91px;
    }
    .buttonR{
        padding: 15px 52px;
    }
    #titlePos{
        position: relative;
        top: .7em;
        font-size: 25px;
        padding-bottom: 1.5em;
    }
    .priceShow{
        font-size: 25px;
        position: relative;
        font-weight: lighter;
    }
    #pAttributes{
        font-size: 17px;
    }
    #fontTitleD{
        font-size: 30px;
    }
    .formFieldLine{
        width: 250px;
    }
    .formFieldText{
        width: 250px;
        height: 120x;
    }
    .buttonAdd{
        height: 70px;
        width: 100px;
    }

    .buttonRemove{
        height: 70px;
        width: 100px;
    }

    .buttonBuy{
        padding: 20px 90px;
    }
    .listImageProduct{
        width: 65%;
    }
    #fontTitle3{
        display: none;
    }
    #fontTitle2{
        font-size: 15px;
        font-weight: 300;
    }

    .btnTog{
        font-weight: 300;
        background-color: black; 
        color: white; 
        width: 100%;
        height: 40px;
    }


    .extraMargin1{
        margin-left: 7%;
    }

    .extraMargin2{
        margin-left: 3%;
    }

    .wholeRow{
        margin-left: 14%;
    }

    .productCommentsBtn{
        width: 100%;
        border-left: none;
        border-right: none;
        border-bottom: none;
        outline: none;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .productComment{
        margin: 1em;
        margin-top: 2em; 
        width: 50%;
    }


}

@media screen and (max-width: 440px){
    .wholeRow{
        margin-left: 14%;
        margin-right: 0%;
    }



}

@media screen and (min-width: 441px) and (max-width: 700px){
    .wholeRow {
        margin-left: 23%;
        margin-right: 12%;
    }  

}

@media screen and (min-width: 701px) and (max-width: 767px){
    .wholeRow {
        margin-left: 29%;
        margin-right: 21%;
    }   

}




@media screen and (min-width: 1500px){
    .col-xl-offset-5{
        margin-left: 40%
    }

    .col-xl-1{
        width: 11%;
    }

}

@media screen and (min-width: 1400px) and (max-width: 1499px){
    .col-lg-offset-3 {
        margin-left: 30%;
    }

    .col-lg-4 {
        width: 22%;
    }
}

@media screen and (max-width: 1399px) and (min-width: 992px){
    .col-lg-offset-3 {
        margin-left: 27%;
    }

    .col-lg-4 {
        width: 26%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    #sidev{
        padding-top: 7em;
    }
    .productMainInfo {
        margin-top: 30px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px){
    .buttonAdd{
        padding: 20px 50px;
    }

    .buttonRemove{
        padding: 20px 50px;
    }

    .buttonBuy{
        padding: 20px 90px;
    }
}

@media screen and (max-width: 370px){
    .wholeRow{
        margin-left: 8%;
        margin-right: -8%;
    }


}

@media screen and (max-width: 350px){
    #fontTitle1{
        font-size: 12px;
        font-weight: 600;
    }
      #fontPrice{
        font-size: 12px;
        font-weight: 200;
    }
    .list_image{
        width: 100%;
    }
    .wholeRow{
        margin-left: 8%;
    }

}



@media screen and (min-width: 768px) and (max-width: 1250px){
    body {
        padding-top: 105px; 
        margin: 0 0 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 769px){
    .extraMargin{
        margin-right: 25%;
        margin-left: 25%;
    }

}




