/* Place all the styles related to the Store controller here.
/* They will automatically be included in application.css.
/* You can use Sass (SCSS) here: http://sass-lang.com/ */

a{
  text-decoration: none !important;
}

a:hover{
    color: green;
}

.titleFrontPageNF{
  border-bottom: 1px solid;
}

.titleFrontPageNFFeatured{
  border-bottom: 1px solid;
}

.storeBack{
  padding-bottom: 80px;
}


.specialA{
  color: black !important;
}

.storeBorder{
  margin-top: 20px;
}


.individualStoresSection{
  margin-top: 40px;
}

.individualStores{
  margin-bottom: 90px;
}


.storeContainer{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.individualPictures{
  width: 216px;
  height: 216px;
  border-radius: 5px 0px 0px 5px;
}

div.scrollStores {
    overflow: auto;
    white-space: nowrap;
}

div.scrollStores a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    width: 30%;
}


div.scrollProducts {
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 10px;
    height: 135px;
    overflow-y: hidden;
}

div.scrollProducts a {
    display: inline-block;
    color: white;
    text-align: center;
    width: 30%;
    margin-right: 10px;
}

.section1{
  width: 25%;
}

.section2{
    width: 25%;
    margin-top: -62px;
    margin-left: 235px;
    height: 72px;
    text-align: left;
}


.section3{
  width: 40%;
  margin-top: -72px;
  margin-left: 475px;
  height: 72px;
  text-align: left;

}


#noTimes{
  font-size: 20px;
  font-weight: 300;
  padding-top: 15px;
}

#pAttributes{
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

#fontTitleD{
  font-size: 15px;
  font-weight: 400;
}

#images{
	padding: 3em;
	width: 100px;
	margin-right: 5px;
	margin-bottom: 5px;
	position: static;
	padding-left: 32em;
}

.noPostTitle{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 25px;
  font-weight: 200;
}

.showcaseImg{
  width: 100%;
  height: 400px;
}



h1{
	margin: 0;
	padding-bottom: 0em;
	font: 150% sans-serif;
	color:#226;
	text-align: center;
	padding-top: 1em;
}

h4{
	margin: 0;
	padding-bottom: 0em;
	font: 150% sans-serif;
	color:#226;
	text-align: center;
}

#h1d{
	padding: 2em;
}

.entry{
	overflow: auto;
	margin-top: 1em;
	border-bottom: 1px dotted #77d;
	min-height: 100px;
}	

h3{
	font-size: 120%;
	font-family: sans-serif;
	margin-left: 100px;
	margin-top: 0;
	margin-bottom: 2px;
	color: #227;
}
	
div.price_line{
	margin-top: 0.5em;
	margin-bottom: 0.8em;

	form, div{
		display: inline;
	}
}

.price{
	color: #44a;
	font-weight: bold;
	margin-right: 3em;
}

#spacing{
	padding-left: 10em;
}

/*Start of slideshow*/

#trial{
  position: relative;
}
.theSlides{
  display:none;
}

.slideshow-container {
  position: static;
  margin: auto;
  z-index: -1;
}
 .prev, .next {
  text-decoration: none !important;
  cursor: pointer;
  position: absolute;
  bottom: 30%;
  padding: 50px;
  color: white;
  font-size: 50px;
  font-weight: 900;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: transparent;
  color: white;
}


.firstIntro{
  padding: 5em;
  opacity: 1 !important;
}


*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Scrolling pictures*/
#sidescroll {
    width: 100%;
    overflow: visible;
    white-space:nowrap;
}

#sidescroll .slide {
    display: inline-block;
}

#sectionHScroll {
  width: 100%;
  height: 356px;
  white-space: nowrap; 
  overflow: scroll;
  margin: 0;
  overflow-y: hidden; 
}
#sectionStore{
  width: 1000px;
  height: 800px;
  white-space:nowrap; 
  overflow: scroll;
  overflow-x: hidden; 
}

/* Fix the */

#textInImage .text{
	position: relative;
  padding : 0;
  margin : 0;
  line-height : 20px;
  bottom: 100px;
	visibility: hidden;
  font-size: 20px;
  margin: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#textInImage:hover .text {
	bottom: 100px;
  visibility: visible;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-align: center;
	color: black;
	opacity: 0.8;
  position: relative;
}


.linkOP:hover{
  opacity: 0.4;
  background-color: transparent;
}


/* New Age */

.postBox {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid black;
  margin: 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.listImagePagePost {
    width: 50px;
    height: 50px;
    margin: 5;
    float: left
}

.editPosts {
    position: relative;
    right: 46%;
    bottom: 79px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 200;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    border: 1px solid black;
}


.postTitle {
    margin-top: 20px;
    right: -3%;
    padding-bottom: 1em;
    width: 93%;
    position: relative;
    font-weight: 500;
    font-size: 19px;
    text-align: left;
}

.postSection{
    padding: 0em;
    border-bottom: 1px solid;
}



.lowerAttri {
    padding-top: 10px;
    padding-bottom: 32px;
}

.dateNtime{
    float: right;
    margin-right: 10px;
    font-weight: 300;
    font-size: 15px;
}

.comment{
    float: left;
    margin-left: 10px;
    font-weight: 300;
    font-size: 18px;
}

.storeTitle{
  margin-bottom: 60px;
}

.postPageTitle {
  margin: 10px;
  font-size: 28px;
  font-weight: 300;
  float: left
}

 .postPictures{
  width: 24%;
  padding: .2em;
}  

 .post1Pictures{
  width: 100%;
} 
 .post2Pictures{
  width: 40%;
  padding: .2em;
} 
.showImagePosts{
    position: relative;
    bottom: 10px;
    padding: 12px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 200;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.showImagePosts:hover{
    background-color: black;
    color: white;
}

.pictureSection{
    border-top: 1px solid black;
}

.contentSection{

    padding-bottom: 10px;
}

.postContent {
  font-size: 16px;
  text-align: -webkit-auto;
  position: relative;
  right: -3%;
  width: 93%;
}


.commentBox{
  text-align: left;
  border-top: 1px black solid;
  padding: 8px;
}

.commentAdmin{
  color: #307710;
}

.welcome{
  font-size: 50px;
  font-weight: 300;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-left: 30px;
  color: black;
}

.exSection{
  font-size: 30px;
  font-weight: 300;
  margin-left: 120px;
  width: 80%;
  padding-bottom: .7em;
  color: black;
}

.btn {
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: 200;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-primary {
    color: #333333;
    background-color: #ffffff;
    border-color: #333333;
}
.btn-primary:hover{
    color: #fff !important;
    background-color: #222222 !important;
    outline: none !important;
}

.loginBtn{
  margin-left: 50%;
  margin-bottom: 30px;
  background-color: transparent;
  color: black;
  border-color: black;
}

.signBtn{
  margin-bottom: 30px;
  background-color: transparent;
  color: black;
  border-color: black;
}

.listImagePage{
  width: 150px;
  height: 150px;
  border-radius: 5px 0px 0px 5px;
}

.iProductImage{
  width: 100px;
  height: 100px;
  border-radius: 5px 0px 0px 5px;
}


.pageShowcase:hover {
  background-color: transparent;
}


dt{
  font-size: 18px;
  font-weight: 300; 
}

.dt1{
    margin-top: 15px;
}

.pagePos{
  float: left;
}

.topTitle{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}

.secondaryTitle{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 25px;
}

.categoryTitle{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 25px;
  margin-top: 2em;
}

.convinientBorder{
  border-top: 1px black solid;
}


.pageTitle{
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8em;
  text-align: -webkit-auto;
}

.pageCredentials{
  border-bottom: 1px solid black;
  margin-left: 15em;
}


.iProductTitle{
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 110px;
  text-align: -webkit-auto;
}

.individualTitle{
  font-size: 22px;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-left: 15px;
  text-align: -webkit-auto;
}


.individualGenre{
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: -webkit-auto;
}

.pageWidth{
  width: 30%;
}

.iBoxWidth{
  width: 24%;
}


.iBox{
  padding-left: 0px;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 5px;
  margin-top: 9px;
  width: 100%;
}



.iBox:hover{
  box-shadow: 0px 0px 1px 1px;
}

.pageDesc{
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 10em;
  text-align: -webkit-auto;
}

.pageLongDesc{
  font-size: 12px;
  font-weight: 300;
  margin-left: 158px;
  text-align: -webkit-auto;
}

.productInfo{
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 10em;
  text-align: -webkit-auto;
}


.iProductInfo{
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 9px;
    margin-left: 110px;
    text-align: -webkit-auto
}

.completeBoxPagesAll{
  box-shadow: 0px 0px 2px 0px;
  padding-left: 0px;
  border-radius: 5px;
  width: 100%;
}


.completePages{
  box-shadow: 0px 0px 2px 0px;
  padding-left: 0px;
  border-radius: 5px;
  width: 100%;
}

.completeBox{
  margin: 18px;
  box-shadow: 0px 0px 2px 0px;
  padding-left: 0px;
  border-radius: 5px;
}

.completeBox:hover{
  box-shadow: 0px 0px 2px 1px;
}



@media screen and (max-width: 567px){
    .postBox{
      margin-top: 10px;
      margin-bottom: 15px;
      width: 100%;
    }

}

@media screen and (min-width: 568px) and (max-width: 767px){
    .postBox{
      margin-top: 10px;
      margin-bottom: 15px;
      width: 80%;
    }

}



@media screen and (max-width: 767px){
  .storeBack{
    padding-bottom: 0px;
  }
  .titleFrontPageNFFeatured{
    border-bottom: 0px solid;
  }

  .storeBorder{
    padding-left: 0px;
    padding-right: 0px;
  }
  .individualStoresSection{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
  }

  .individualGenre{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: -webkit-auto;
  }

  div.scrollProducts {
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 5px;
    height: 100px;
    overflow-y: hidden;
  }

  .iProductTitle {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 85px;
    text-align: -webkit-auto;

  }

  .individualStores {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }


  .iProductInfo {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 85px;
    text-align: -webkit-auto;
  }

  .iProductImage {
    width: 80px;
    height: 80px;
    border-radius: 5px 0px 0px 5px;
  }

  div.scrollProducts a {
    display: inline-block;
    color: white;
    text-align: center;
    width: 70%;
    margin-right: 10px;

  }

  .completePages {
    padding-left: 0px;
    width: 97%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
  }

  .section1 {
    padding-left: 90px;
    width: 100%;
    height: 90px;
  }

  .section2 {
    display: none;
  }

  .section3 {
    display: none;
  }

  .individualTitle {
    font-size: 20px;
    font-weight: 300;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: 25px;
  }

  #noTimes {
    font-size: 17px;
    font-weight: 300;
    padding-top: 0px;
  }

  #pAttributes {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  #fontTitleD {
    font-size: 15px;
    font-weight: 400;
  }

  .individualGenre {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 25px;
    text-align: -webkit-auto;
  }

  .pageCredentials {
    height: 110px;
    margin-left: 0;
    border-bottom: 0px;
  }


  .individualPictures{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
  .storeBorder {
    margin-top: 0px;
  }
  .storeContainer{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px; 
  }
  .completeBox{
    margin: 0px;
    margin-top: 18px;
    margin-bottom: 18px;
    box-shadow: 0px 0px 2px 0px;
    padding-left: 0px;
  }
  .firstIntro{
    padding: 1em;
  }

  div.scrollStores a{
    width: 70%;
    padding: 5px;
  }

  .listImagePagePost {
    width: 50px;
    height: 50px;
  }

  .listImagePage{
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
  }
  .editPosts{
      right: 42%;
      bottom: 60px;
  }
  .postPageTitle {
    font-size: 28px;
    font-weight: 300;
  }

  .postPictures{
    width: 49%;
    padding: .2em;
  }  
  .post1Pictures{
    width: 100%;
  } 
  .post2Pictures{
    width: 49%;
  } 

  .pageDesc {
    font-size: 16px;
    font-weight: 300;
    margin-left: 110px;
    text-align: -webkit-auto;
  }

  .productInfo {
    font-size: 16px;
    font-weight: 300;
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 110px;
    text-align: -webkit-auto;
  }
  .welcome{
    font-size: 33px;
    font-weight: 300;
    padding-top: .7em;
    padding-left: .5em;
    padding-right: .5em;
    margin-left: 0px;
  }
  .exSection{
    font-size: 20px;
    font-weight: 300;
    margin-left: 22px;
    width: 90%;
    padding-bottom: .7em;
  }
  .loginBtn {
    margin-left: 21%;
    margin-bottom: 30px;
  }
  .noPostTitle{
    margin-left: 15px;
    margin-right: 15px;
  }

  .pageWidth {
    width: 100%;
  }

  .pageTitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-left: 110px;
  }
  .topTitle{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px){
    .section3 {
      display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .listImagePagePost{
      right: -43%;
  }
  .pageWidth {
    width: 45%;
  }

  .pageWidthLogged{
    width: 100%;
  }

  #pAttributes {
    font-size: 14px;
  }

  .section1 {
    width: 47%;
  }

  .section2 {
    width: 28%;
    margin-top: -64px;
    margin-left: 236px;
    height: 72px;
    text-align: left;
  }

  .section3 {
    width: 40%;
    margin-top: -72px;
    margin-left: 442px;
    height: 72px;
    text-align: left;
  }

  #noTimes {
    font-size: 16px;
    font-weight: 300;
    padding-top: 15px;
  }

  div.scrollProducts a {
    display: inline-block;
    color: white;
    text-align: center;
    width: 55%;
    margin-right: 10px;
  }

  div.scrollStores a {
    width: 50%;
  }
  .welcome {
    font-size: 50px;
    font-weight: 300;
    padding-top: 1em;
    padding-left: .7em;
    padding-right: 1.5em;
    margin-left: 30px;
  }

  .firstIntro {
    padding: 0em;
  }


}

@media screen and (max-width: 350px){
  .welcome {
    font-size: 30px;
  }
  .pageTitle {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0px;
    margin-left: 106px;
  }

}


