/*// Place all the styles related to the store_owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


.userImage{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.namesFirst{
    font-size: 28px;
    font-weight: 300;
}
.names{
    font-size: 25px;
    font-weight: 300;
}


.listImageUser{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}


.mainUserInfo{
    padding-bottom: 4em;
    padding-top: 3em;
}


.mainTitleNew{
    font-size: 36px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 10px;
}


.selectProduct{
    width: 200px;
    height: 50px;
}


.termsTitle{
    font-size: 25px;
    font-weight: 200;
    color: black;
}



.buttonForm {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonGForm {
    top: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 10px 60px;
}

.buttonGForm:hover {
    background-color: #4CAF50;
    color: white;
}

.followFont{
    font-weight: 300;
}



@media screen and (max-width: 767px) {
    .listImageUser{
        width: 80px;
        height: 80px;
    }  

    .pageRef{
        display: none;
    }

    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
        padding: 6px !important;
    }
}

@media screen and (max-width: 350px){
    .listImageUser{
        display: none;
    }
    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
        padding: 8px !important;
    }
}







